@model Product
@{
    Layout = "_Layout";
}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
       @Model.Title
       
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" width="auto" height="a" alt="">
        </div>

        <div class="col-md-4">
            <p>@Model.Description</p>
            <p>@Model.Manufacturer</p>
            <h4 class="my-4">@Model.Price</h4>
            
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    

</div>
<!-- /.container -->
